{% extends "insta/base.html" %} 
{% block content %}

<!-- post 추가 -->
{% for post in posts %}

        <form action="{% url 'like' post.id %}" method="post" class="float-right">
          {% csrf_token %}
              <button style="border: none; background-color: Transparent;" onclick="location.href='{{post_pk}}/like/'">{{post.image}}</button>
                {{ post.like_count }}
        </form>

<style>
    .profile{
        border: 2px solid black;
        border-radius: 50%;
        heigh: 50px;
        width: 50px;%
    }
</style>
{% endfor %}

{% endblock %}