{% extends "insta/base.html" %} 
{% block content %}
<body  style='background-color:#070c21;'>
<!-- post 추가 -->
{% for post in posts %}

  <form action="{% url 'like' post.id %}" method="post" class="float-right">
    {% csrf_token %}
   
    <div style="text-align:center">
    <a style="font-size:100px;color:white;" href="{% url 'count' %}">touch</a>
    <button style="border: none; background-color: Transparent;" onclick="parent.location.href='{{post_pk}}/like/'; location.href="{% url 'count' %}""><img src="{{post.image.url}}"></button></a>
    <a href="{% url 'count' %}" class="test" onclick="location.href='{{post_pk}}/like/'"><img src="{{post.image.url}}"  style="width:800px"></a>
    </div>
  </form>
</body>

{% endfor %}

{% endblock %}