{% extends "insta/base.html" %} 
{% block content %}

<br>
<!--점보트론-->
<div class="jumbotron">
  <h1 class="display-4">CBNU Instagram</h1>
  <p class="lead">Welcome to CBNU Instagram</p>
</div>


<!--정렬 박스-->
<div class="btm-group float-right">
    <div class="d-flex">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary">정렬</button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
        <a class="dropdown-item" href="?sort=new">최신</a>
        <a class="dropdown-item" href="?sort=likeup">좋아요 많은순</a>
        <a class="dropdown-item" href="?sort=likedown">좋아요 낮은순</a>
        </div>
    </div>
    </div>
</div>

<!-- post 추가 -->
<br>
{% for post in posts %}
<div class="card mt-5">
    <div class="card-header">
        <img src="{{post.user.profile.url}}" class="profile" style="margin-right:20px;">{{post.user}}
        <span class="float-right" data-toggle="tooltip" data-placement="right"
        title="{{ post.updated | date:'Y년 n월 j일 a g:i'}}">{{post.updated | timesince}}전</span></div>
    <img src="{{post.image.url}}" class="card-img-top">
    
    <div class="card-body" style="border-top: 0.5px solid lightgray">
        <p class="card-text">{{post.caption}}</p>
    </div>
    <div class="card-footer text-muted">
    <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#post-{{ post.id }}">
          댓글 보기
        </button>
        <form action="{% url 'like' post.id %}" method="post" class="float-right">
          {% csrf_token %}

          {% if user.is_authenticated %}
            {% if post.id in liked_post %}
            <button style="border: none; background-color: Transparent;" onclick="location.href='{{post_pk}}/like/'"><i
                class="fas fa-heart fa-2x" style="color: pink;"></i></button>
                {{ post.like_count }}
            {% else %}
            <button style="border: none; background-color: Transparent;" onclick="location.href='{{post_pk}}/like/'"><i
                class="far fa-heart fa-2x" style="color: pink;"></i></button>
                {{ post.like_count }}
            {% endif %}

          {% else %}
            
            <button style="border: none; background-color: Transparent;" onclick="location.href='{{post_pk}}/like/';return confirm('로그인해주세요!')"><i
                class="fas fa-heart fa-2x" style="color: pink;"></i></button>
                {{ post.like_count }}
            
            
          {% endif %}
        </form>
      </div>
    </div>

<style>
    .profile{
        border: 2px solid black;
        border-radius: 50%;
        heigh: 50px;
        width: 50px;%
    }
</style>

<!-- Modal -->
<div class="modal fade" id="post-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 끝-->
{% endfor %}

{% endblock %}